
<h2>Hola Sockets</h2>

<input type="text" id="mensaje" placeholder="Ingrese un mensaje">

<div id="mensajes"></div>

<br>
<!--
<h2>Products in stock</h2>



<table>
        <thead>
            <th>Title</th>
            <th>stock</th>
        </thead>
    <tbody>
            {{#each products}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{stock}}</td>
                </tr>
            {{/each}}
    </tbody>
</table>
-->