<h1>Lista de productos cargados:</h1>

{{#each arayprueba}}
    <li>
        Titulo: {{this.title}}, Descripcion: {{this.description}} , Price: {{this.price}}, Category: {{this.category}}
    </li>
{{/each}}