<h1>Lista de productos cargados via websocket!!</h1>
<ul id="productList">
  {{#each arayprueba}}
    <li>id:{{this.pid}} - quantity: {{this.quantity}}</li>
  {{/each}}
</ul>

<h2>Eliminar producto</h2>
<form id="deleteProductForm" action="">
  <input type="text" name="idInput" placeholder="Ingrese ID" />
  <br />
  <input type="submit" value="Enviar" />
</form>

<h2>Crear producto</h2>
<form id="addProductForm" action="">
  <input type="text" name="title" placeholder="title" />
  <br />
  <input type="text" name="description" placeholder="description" />
  <br />
  <input type="number" name="code" placeholder="code" />
  <br />
  <input type="number" name="price" placeholder="price" />
  <br />
  <input type="text" name="status" placeholder="status" />
  <br />
  <input type="text" name="stock" placeholder="stock" />
  <br />
  <input type="text" name="category" placeholder="category" />
  <br />
  <input type="submit" value="Enviar" />
</form>
